
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Bogart;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Roboto, 'Courier New',
    monospace;
}


.animate {
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}