doctype html
html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Infinite Leaves
  link(rel='stylesheet', href='/css/tailwind.css')
  script(src='/socket.io/socket.io.js')
  script(src="/javascripts/about.js")
body
    block content